#retrieve-time, #save-time {
    position: fixed;
    top: 10px;
    right: 10px;
}
#note-section {
    margin-bottom: 10px;
}


#back-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

